.nav{
    padding: 1vmax;
    display: flex ;
    flex-direction: row;
    justify-items: center;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(43, 43, 43, 0.137);
    
}
.nav>div>img{
    width: 50px;
  }
 
  .nav a{
    font-size: 1.1vmax;
    color: #000;
    font-weight: bold;
    
  }



 
